Repository PennyLaneAI/pennylane-qiskit: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: 🐍 pylint · Lint codebase
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: 🐍 pylint · Lint test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Whoops
  pennylane_qiskit/remote.py
Due: pylint

more fixes
  doc/devices/remote.rst
Due: none

fix
  pennylane_qiskit/remote.py
Due: pylint

Apply suggestion from @andrijapau
  pennylane_qiskit/qiskit_device.py
Due: pylint

fix: add clarifaction about non-physical wire labels (#697)
  CHANGELOG.md
  README.rst
  doc/devices/remote.rst
  pennylane_qiskit/qiskit_device.py
  pennylane_qiskit/remote.py
Due: pylint

pre release version bump
  CHANGELOG.md
  pennylane_qiskit/_version.py
Due: pylint

post release version bump
  CHANGELOG.md
  pennylane_qiskit/_version.py
Due: pylint

Adding pyproject.toml and updating workflows
  .github/workflows/tests.yml
  .readthedocs.yml
  README.rst
  pyproject.toml
Due: none

typo
  .github/workflows/tests.yml
Due: none

rtd
  .readthedocs.yml
Due: none

rmv license
  pyproject.toml
Due: none

downgrade mpmath
  pyproject.toml
Due: none

pennylane-sphinx-theme
  pyproject.toml
Due: none

sphinx-automodapi
  pyproject.toml
Due: none

add actual docs, rmv reqs.txt
  doc/requirements.txt
  pyproject.toml
  requirements-ci.txt
  requirements-dev.txt
  requirements.txt
Due: none

fix docs.yml, empty setup
  .github/workflows/docs.yml
  setup.py
Due: pylint

change wheel build
  .github/workflows/tests.yml
Due: none

install build
  .github/workflows/tests.yml
Due: none

upgrade pip in docs yml
  .github/workflows/docs.yml
Due: none

fix: pass correct wire counts in noise model tests
  tests/test_converter.py
Due: pylint-test

missing upgrade
  .github/workflows/docs.yml
  pyproject.toml
Due: none

checking tests
  .github/workflows/tests.yml
  requirements-ci.txt
  setup.py
Due: pylint

revert
  .github/workflows/tests.yml
  requirements-ci.txt
  setup.py
Due: pylint

Stop using deprecated kwarg
  tests/test_converter.py
  tests/test_inverses.py
  tests/test_qiskit_device.py
Due: pylint-test

Changelog
  CHANGELOG.md
Due: none

fix: pass correct wire counts in noise model tests (#707)
  tests/test_converter.py
Due: pylint-test

Revert "Merge remote-tracking branch 'origin/fix/noise-model-test-wires' into fix/device_shots"
  tests/test_converter.py
Due: pylint-test

Stop using deprecated shots kwarg (#708)
  CHANGELOG.md
  tests/test_converter.py
  tests/test_inverses.py
  tests/test_qiskit_device.py
Due: pylint-test

rmv find_packages
  setup.py
Due: pylint

Adding pyproject.toml and updating workflows (#706)
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  README.rst
  doc/requirements.txt
  pyproject.toml
  requirements-ci.txt
  requirements-dev.txt
  requirements.txt
  setup.py
Due: pylint

Use 0.45 for base grpou
  pyproject.toml
Due: none

>=0.44
  pyproject.toml
Due: none

Use 0.45 for base group in pyproject (#710)
  pyproject.toml
Due: none

Add classical shadow execution support
  pennylane_qiskit/qiskit_device.py
  tests/test_base_device.py
Due: pylint, pylint-test

upgrade sphinx to version 9
  doc/conf.py
  pyproject.toml
Due: none

changelog
  CHANGELOG.md
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
