Repository PennyLaneAI/pennylane-qiskit: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: 🐍 pylint · Lint codebase
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: 🐍 pylint · Lint test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

fix format
  .github/workflows/format.yml
Due: none

fix folder name
  .github/workflows/format.yml
Due: none

Update requirements-dev.txt
  requirements-dev.txt
Due: none

improve readme
  README.rst
Due: none

changelog
  CHANGELOG.md
Due: none

fix format.yml
  .github/workflows/format.yml
Due: none

isort fix
  pennylane_qiskit/basic_sim.py
  pennylane_qiskit/converter.py
  pennylane_qiskit/qiskit_device.py
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

fix readme
  README.rst
Due: none

get rid of useless suppression
  pennylane_qiskit/aer.py
  pennylane_qiskit/converter.py
  pennylane_qiskit/qiskit_device.py
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

get rid of useless suppression
  pennylane_qiskit/qiskit_device.py
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update tests/test_base_device.py
  tests/test_base_device.py
Due: pylint-test

remove parameterization for v1/v2 in test_qiskit_device.py
  tests/test_qiskit_device.py
Due: pylint-test

remove trivial parameterization in test_base_device.py
  tests/test_base_device.py
Due: pylint-test

oops
  tests/test_base_device.py
Due: pylint-test

add fakemanilav2
  tests/test_base_device.py
Due: pylint-test

try fix for numqubits
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

make codefactor happy
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

Revert "try fix for numqubits"
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

Revert "make codefactor happy"
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

fix
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

simplify logic
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

try cleaning up the qiskit device
  pennylane_qiskit/qiskit_device.py
Due: pylint

make CF happy
  pennylane_qiskit/qiskit_device.py
Due: pylint

rename Tests for 1.0 to Tests
  .github/workflows/tests.yml
Due: none

feat: add developer QoL improvements to plugin (#657)
  .github/workflows/format.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.rst
  doc/conf.py
  doc/directives.py
  pennylane_qiskit/aer.py
  pennylane_qiskit/basic_sim.py
  pennylane_qiskit/converter.py
  pennylane_qiskit/qiskit_device.py
  pennylane_qiskit/qiskit_device_legacy.py
  requirements-dev.txt
  setup.py
  tests/conftest.py
  tests/test_apply.py
  tests/test_base_device.py
  tests/test_converter.py
  tests/test_expval.py
  tests/test_integration.py
  tests/test_inverses.py
  tests/test_noise_models.py
  tests/test_qiskit_device.py
  tests/test_var.py
Due: pylint, pylint-test

fix issues after master merge
  pennylane_qiskit/qiskit_device.py
  tests/test_base_device.py
  tests/test_converter.py
Due: pylint, pylint-test

fix issues after master merge
  tests/test_qiskit_device.py
Due: pylint-test

feat: bump `qiskit` eco-system to latest (#653)
  .github/workflows/tests.yml
  .gitignore
  CHANGELOG.md
  pennylane_qiskit/converter.py
  pennylane_qiskit/qiskit_device.py
  pennylane_qiskit/qiskit_device_legacy.py
  requirements-ci.txt
  requirements.txt
  setup.py
  tests/conftest.py
  tests/test_base_device.py
  tests/test_converter.py
  tests/test_integration.py
  tests/test_qiskit_device.py
Due: pylint, pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
