Repository PennyLaneAI/pennylane-qiskit: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: "🔒 gitleaks · Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      name: "🐍 black · Format code"
      args: [
              "--line-length=100",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      name: "🐍 isort · Sort imports"
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-o",
          "autoray",
          "-p",
          "./pennylane-qiskit",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane-qiskit/|tests/)
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        name: "🐍 pyupgrade · Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: "🐍 pylint · Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: "🐍 pylint · Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

update requirements*.txt
  requirements-ci.txt
  requirements.txt
Due: none

fix setup.py
  setup.py
Due: pylint

Revert "fix setup.py"
  setup.py
Due: pylint

Apply suggestion from @andrijapau
  requirements.txt
Due: none

Apply suggestion from @andrijapau
  requirements-ci.txt
Due: none

fix str repr of parameter expressions
  pennylane_qiskit/converter.py
  tests/test_converter.py
Due: pylint, pylint-test

Apply suggestion from @Alex-Preciado
  requirements-ci.txt
Due: none

Apply suggestion from @Alex-Preciado
  requirements.txt
Due: none

Apply suggestion from @Alex-Preciado
  setup.py
Due: pylint

fix argnums?
  tests/test_integration.py
Due: pylint-test

Revert "fix argnums?"
  tests/test_integration.py
Due: pylint-test

feature: upgrade `qiskit` eco-system versions (#666)
  pennylane_qiskit/converter.py
  requirements-ci.txt
  requirements.txt
  setup.py
  tests/test_converter.py
  tests/test_integration.py
Due: pylint, pylint-test

chore: update requirements*.txt
  .github/workflows/tests.yml
  requirements-ci.txt
  requirements-dev.txt
  requirements.txt
Due: none

chore: update requirements*.txt (#673)
  .github/workflows/tests.yml
  requirements-ci.txt
  requirements-dev.txt
  requirements.txt
Due: none

skip potentially unnecessary barrier operation
  pennylane_qiskit/converter.py
Due: pylint

fix test
  tests/test_base_device.py
Due: pylint-test

black
  tests/test_base_device.py
Due: pylint-test

once again...
  tests/test_base_device.py
Due: pylint-test

debug
  tests/test_base_device.py
Due: pylint-test

reformat
  tests/test_base_device.py
Due: pylint-test

Pin Sphinx to 8.1.0
  doc/requirements.txt
Due: none

Update doc/requirements.txt
  doc/requirements.txt
Due: none

fix test (#675)
  tests/test_base_device.py
Due: pylint-test

Upgrade to sphinx 8.1 (#676)
  doc/requirements.txt
  tests/test_base_device.py
Due: pylint-test

remove instead of comment out
  pennylane_qiskit/converter.py
Due: pylint

Use CompilePipeline instead of TransformProgram
  pennylane_qiskit/qiskit_device.py
Due: pylint

Use CompilePipeline instead of TransformProgram (#678)
  pennylane_qiskit/qiskit_device.py
Due: pylint

pre release version bump
  CHANGELOG.md
  pennylane_qiskit/_version.py
Due: pylint

bump to 0.44 due to the latest-stable fail
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

in alignment with requires_pennylane
  requirements.txt
  setup.py
Due: pylint

add 3.14
  .github/workflows/tests.yml
  setup.py
Due: pylint

add the missing build dep
  .github/workflows/tests.yml
Due: none

add chaneglogs
  CHANGELOG.md
Due: none

internal #665
  CHANGELOG.md
Due: none

post release version bump
  CHANGELOG.md
  pennylane_qiskit/_version.py
Due: pylint
