Repository PennyLaneAI/pennylane-qiskit: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: 🐍 pylint · Lint codebase
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: 🐍 pylint · Lint test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

add fix
  doc/requirements.txt
Due: none

cl
  CHANGELOG.md
Due: none

chore: update `doc/requirements.txt` to reflect latest qiskit eco-system (#659)
  CHANGELOG.md
  doc/requirements.txt
Due: none

Formatting qiskit_device with black
  pennylane_qiskit/qiskit_device.py
Due: pylint

chore: add stricter bounds for qiskit ecosystem
  requirements-ci.txt
  requirements.txt
  setup.py
Due: pylint

add upper bounds for qiskit
  setup.py
Due: pylint

add upper bounds for qiskit
  requirements-ci.txt
Due: none

add upper bounds for qiskit
  requirements.txt
Due: none

better versions
  requirements.txt
  setup.py
Due: pylint

better versions
  requirements-ci.txt
Due: none

chore: add stricter bounds for qiskit ecosystem (#661)
  CHANGELOG.md
  requirements-ci.txt
  requirements.txt
  setup.py
Due: pylint

pre release version bump
  CHANGELOG.md
  pennylane_qiskit/_version.py
Due: pylint

update pennylane_requires to v0.43.0
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

changelog
  CHANGELOG.md
Due: none

whoops forgot setup.py
  setup.py
Due: pylint

update minimum supported version of PL to v0.43.0 (#663)
  CHANGELOG.md
  pennylane_qiskit/qiskit_device_legacy.py
  setup.py
Due: pylint

post release version bump
  CHANGELOG.md
  pennylane_qiskit/_version.py
Due: pylint

Apply suggestion from @andrijapau
  pennylane_qiskit/_version.py
Due: pylint

fix argnum deprecation
  tests/test_integration.py
Due: pylint-test

fix argnum deprecation (#665)
  tests/test_integration.py
Due: pylint-test

unbound qiskit
  setup.py
Due: pylint

upper bound
  setup.py
Due: pylint

remove upper bound
  setup.py
Due: pylint

whoops forget requirements.txt
  requirements-ci.txt
  requirements.txt
Due: none

try to fix tests
  tests/test_converter.py
Due: pylint-test

fix test for real
  tests/test_converter.py
Due: pylint-test

final bounds
  requirements-ci.txt
  requirements.txt
  setup.py
Due: pylint

Apply suggestion from @andrijapau
  setup.py
Due: pylint

Apply suggestion from @andrijapau
  requirements-ci.txt
Due: none

add xfail test
  tests/test_integration.py
Due: pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
