Repository PennyLaneAI/pennylane-qiskit: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: 🐍 pylint · Lint codebase
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: 🐍 pylint · Lint test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

update requirements
  requirements.txt
  setup.py
Due: pylint

cl
  CHANGELOG.md
Due: none

update requirements
  requirements.txt
Due: none

chore: upgrade qiskit eco-system versions (#681)
  CHANGELOG.md
  requirements.txt
  setup.py
Due: pylint

remove barrier reliance in test
  tests/test_converter.py
Due: pylint-test

black formatting
  pennylane_qiskit/.DS_Store
  pennylane_qiskit/aer.py
  pennylane_qiskit/basic_sim.py
  pennylane_qiskit/converter.py
  pennylane_qiskit/noise_models.py
  pennylane_qiskit/qiskit_device.py
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

black formatting tests
  tests/.DS_Store
  tests/test_apply.py
  tests/test_base_device.py
  tests/test_converter.py
  tests/test_expval.py
  tests/test_integration.py
  tests/test_inverses.py
  tests/test_noise_models.py
  tests/test_qiskit_device.py
  tests/test_var.py
Due: pylint-test

remove .DS_Store files
  pennylane_qiskit/.DS_Store
  tests/.DS_Store
Due: none

changelog
  CHANGELOG.md
Due: none

move changelog
  CHANGELOG.md
Due: none

Fix a bug with Barrier not being supported in Azure-qiskit (#677)
  CHANGELOG.md
  pennylane_qiskit/aer.py
  pennylane_qiskit/basic_sim.py
  pennylane_qiskit/converter.py
  pennylane_qiskit/noise_models.py
  pennylane_qiskit/qiskit_device.py
  pennylane_qiskit/qiskit_device_legacy.py
  tests/test_apply.py
  tests/test_base_device.py
  tests/test_converter.py
  tests/test_expval.py
  tests/test_integration.py
  tests/test_inverses.py
  tests/test_noise_models.py
  tests/test_qiskit_device.py
  tests/test_var.py
Due: pylint, pylint-test

pre-release PR
  CHANGELOG.md
  pennylane_qiskit/_version.py
Due: pylint

pre-release PR (#682)
  CHANGELOG.md
  pennylane_qiskit/_version.py
Due: pylint

post release version bump
  CHANGELOG.md
  pennylane_qiskit/_version.py
Due: pylint

[WIP] Compatibility with the graph-based decompositions
  pennylane_qiskit/converter.py
  pennylane_qiskit/qiskit_device.py
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

see if this works
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

changelog
  CHANGELOG.md
  pennylane_qiskit/converter.py
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

maybe I'm thinking about this backwards
  pennylane_qiskit/converter.py
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

ooops
  pennylane_qiskit/qiskit_device_legacy.py
Due: pylint

coverage
  tests/test_apply.py
  tests/test_converter.py
Due: pylint-test

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Compatibility with the graph-based decompositions (#684)
  CHANGELOG.md
  pennylane_qiskit/converter.py
  pennylane_qiskit/qiskit_device.py
  pennylane_qiskit/qiskit_device_legacy.py
  tests/test_apply.py
  tests/test_converter.py
Due: pylint, pylint-test

change pennylane master reference to main
  doc/requirements.txt
Due: none

change pennylane master reference to main (#686)
  doc/requirements.txt
Due: none

Update doc/requirements.txt
  doc/requirements.txt
Due: none

Update requirements.txt
  requirements.txt
Due: none

fix documentation
  README.rst
  pennylane_qiskit/qiskit_device.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
